<%= form_for [@product, @product.reviews.build], remote: true do |f| %>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :stars %><br>
    <%= f.text_field :stars %>
  </p>
  <p>
    <%= f.submit data: {disable_with: "Submitting..."}, class: "btn btn-primary" %>
  </p>
<% end %>
