

<% if review.persisted? %>
<div id="<%= dom_id(review) %>" style="<%= style if defined?(style)%>">
<ul>
  <li>
<p><%= review.body %></p>
<p>Created by:  <%= review.user ? review.user.full_name.titleize : "" %></p>
<p>Rating:  <%= review.stars %> Star(s)</p>

  <%= link_to 'Destroy Review', [review.product, review],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               remote: true %>

<br>

<div id="review-like">
  <%= render "/likes/like", review: review%>
</div>

</li>
</ul>
<% end %>
</div>
