<% if review.persisted? %>

<p><%= review.body %></p>
<p>Created by:  <%= review.user ? review.user.full_name.titleize : "" %></p>
<p>Rating:  <%= review.stars %> Star(s)</p>

<p>
  <%= link_to 'Destroy Review', [review.product, review],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
<br>
<% if user_signed_in? && review.liked_by?(current_user) %>
  <%= link_to "Remove Like", product_review_like_path(review.like_for(current_user), product_id: @product, review_id: review), method: :delete %>
<% else %>
  <%= link_to "Like", product_review_likes_path(product_id: @product, review_id: review), class: "icon-big", method: :post   %>
<% end %><br>

<p>
  Likes: (<%= review.likes.count %>)
</p>
